.lobster-font
{
font-family: 'Lobster', cursive;

}

.merienda-font
{
	font-family: 'Merienda', cursive;
}

.lobster2-font
{
font-family: 'Lobster Two', cursive;

}

.dancing-font
{
	font-family: 'Dancing Script', cursive;
}
.roboto-font
{
		font-family: 'Roboto Condensed', sans-serif;
}

.satisfy-font
{
	font-family: 'Satisfy', cursive;
}