#arrow{
	width:20;
	position:absolute;
	right:75;
	font-size:30;
	top:15;
}

#main
{
	transition : width 0.8s;
}

#navbar
{
	transition:	right 0.8s;
}

.recipe-full
{
	background-color: white;
    width: 800;
    margin-left: 20%;
    position: absolute;
    top: 100;
    height: 100%;
}

#ingredients
{
	
}
